<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asis.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Favorite"></activity>
        <activity android:name=".GuardianSearch" />
        <activity android:name=".GuardianSearchBar" />
        <activity android:name=".nasaearthimage.FavoriteDetailsActivityHolder" />
        <activity android:name=".nasaearthimage.NasaImageFavoritesActivity" />
        <activity android:name=".nasaimageoftheday.NasaImageOfTheDay" />
        <activity android:name=".nasaimageoftheday.ListOfImages" />
        <activity android:name=".nasaimageoftheday.EmptyActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>